body {
  background-color: #efefef;
  padding: 5px;
}

body > .container {
	max-width: 1200px;
}

.content-container {
	padding: 5px;
}

.nested-panel {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.18);
}

.nested-panel h3, .nested-panel small {
	color: #777;
}

.nested-panel p {
	margin-top: 10px;
}

.sidebar {
	text-align: center;
}

.sidebar .photo {
	border-radius: 50%;
	max-width: 170px;
	max-height: 170px;
	border: 5px solid #ddd;
}

.sidebar .list-group .glyphicon {
	margin-top: 2px;
	float: right;
}

.sidebar .list-inline li+li {
	margin-left: 20px;
}

.sidebar .list-inline li:first-child .glyphicon {
	vertical-align: middle;
	margin-top: 2px;
	font-size: 28px;
	color: #555;
}

.sidebar .list-inline li:nth-child(3) img {
	 max-height: 30px;
}

