body {
  background-color: #efefef;
  padding: 5px;
}

.content-container {
	padding: 5px;
}

.sidebar {
	text-align: center;
}

.sidebar .photo {
	border-radius: 50%;
	max-width: 140px;
	max-height: 140px;
}

.sidebar .list-group .glyphicon {
	margin-top: 2px;
	float: right;
}

.sidebar .list-inline li+li {
	margin-left: 20px;
}

.sidebar .list-inline li:first-child .glyphicon {
	vertical-align: middle;
	margin-top: 2px;
	font-size: 28px;
	color: #555;
}

.sidebar .list-inline li:nth-child(3) img {
	 max-height: 30px;
}

