<div class="panel panel-default">
	<div class="panel-body">
		<div ng-repeat="post in posts" class="panel panel-default nested-panel">
			<div class="panel-body">
				<h3>{{ post.title }}</h3>
				<small><span class="glyphicon glyphicon-calendar"></span> {{ post.date }}</small>
				<small><span class="glyphicon glyphicon-comment"></span> {{ post.commentCount }} Comments</small>
				<!-- todo make this url-encoded? -->
				<p>{{ post.preview }} <a href="#/post/{{ post.title }}">Continue reading...</a></p>
				<p>
					In <a href="#/collection/{{ post.collection }}">{{ post.collection }}</a>
					, with tags <a ng-repeat="tag in post.tags" href="#/tag/{{ tag }}">{{ tag }} </a>
				</p>
			</div>
		</div>
	</div>
</div>