<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Joshua Eilers</title>
  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/app.css">
</head>
<body ng-app="app" ng-controller="AppController as vm" layout="column">
  <md-toolbar layout="row" layout-align="center">
    <h1>{ {{vm.name}} }</h1>
  </md-toolbar>

  <div flex layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')"
                class="md-whiteframe-z3"
                md-component-id="left"
                layout-align="start center"
                layout-padding>
      <img ng-src="{{vm.img}}"></img>
      <md-list>
        <md-list-item ng-repeat="link in vm.links">
          <md-button ng-href="{{link.loc}}">{{link.label}}</md-button>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <md-content flex id="content" layout-padding ng-view></md-content>
  </div>

  <script src="assets/js/vendor.js"></script>
  <script>
    angular.module('app', ['ngMaterial', 'ngRoute']);
  </script>
  <script src="assets/js/app.min.js"></script>
</body>
</html>