body {
  background-color: #efefef;
  padding: 1%;
}

.typer {
  font-family: "Courier New";
  font-size: 28px;
}

.about {
	margin-top: 50px;
	max-width: 800px;
}

.about img {
	border-radius: 50%;
	float: right;
}
